body {
  background-color: #f3f4f6;
  font-family: "Trirong", serif;
}

#container {
  padding: 30px;
  background-color: white;
  margin: 20px;
  box-shadow: 0 0 3px 3px #dad0d0;
}
#container2 {
  padding: 30px;
  background-color: hotpink;
  margin: 20px;
  box-shadow: 0 0 3px 3px #dad0d0;
  display: flex;
  flex-wrap: wrap;
}

#container > h2,
h3 {
  color: black;
}

#container > h2 {
  font-size: 2em;
  color: red;
}

a {
  color: currentColor;
  text-decoration: none;
}

input {
  width: 60px;
}

.parent3 {
  background-color: lightcoral;
  display: flex;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.child3 {
  /* width: 200px; */
  height: 100px;
  border-color: khaki;
  border-width: 0.3em;
  border-style: groove;
  margin: 1rem;
}
